@page
@model SecretSanta.Pages.Events.IndexModel
@{
}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Events</h2>
            <ul>
                @foreach (var item in Model.Events)
                {
                    <li>@Html.DisplayFor(modelItem => item.Id): @Html.DisplayFor(modelItem => item.Name)</li>
                }
            </ul>
        </div>
    </div>
</div>