@page
@model SecretSanta.Pages.Events.IndexModel
@{
}

<div class="container">

    <div class="row">

        <div class="col">

            <h2>Events <a asp-page="new" class="btn btn-primary btn-small pull-right">New</a></h2>
            <ul>
                @foreach (var item in Model.Events)
                {
                    <li>
                        <a asp-page="show" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                    </li>
                }
            </ul>

        </div>

    </div>

</div>