@page
@model SecretSanta.Pages.Events.NewModel
@{
}

<div class="container">

    <div class="row">

        <div class="col">

            <h2>New Event</h2>
            
            <form asp-page="new" method="post" novalidate>
                <div class="form-group">
                    <label asp-for="EventRequest.Name"></label>
                    <input asp-for="EventRequest.Name" class="form-control" placeholder="Enter event name" />
                    <span class="invalid-feedback" asp-validation-for="EventRequest.Name"></span>
                    <small id="name" class="form-text text-muted">This is sample help text.</small>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>

    </div>

</div>