@page "{id:int}"
@model SecretSanta.Pages.Events.ShowModel
@{
}

<div class="container">

    <div class="row">

        <div class="col">

            <h2>Event @Model.Event.Name</h2>

        </div>

    </div>

</div>